.aside {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  background-color: rgb(160, 217, 250);
  height: 100vh;
  ul {
    margin-top: 15px;
    li {
      margin-bottom: 8px;
      a{
        transition: all 0.2s;
        color: rgb(26, 0, 68);
      }
      a:hover {
        text-shadow:  0 0 3px #555555;
        color: #ffffff;
      }
    }
  }
  .router-link-exact-active {
    color: #fff;
  }
  .router-link-exact-active:hover {
    color: #fff;
    text-shadow: none;
  }
  .btn__logout{
    margin-bottom: 50px;
  }
}
